<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>First Name</key>
		<string>Bradass</string>
		<key>Last Name</key>
		<string>Johnson</string>
	</dict>
	<dict>
		<key>First Name</key>
		<string>Bradapple</string>
		<key>Last Name</key>
		<string>Crab</string>
	</dict>
	<dict>
		<key>First Name</key>
		<string>Randy</string>
		<key>Last Name</key>
		<string>Mofo</string>
	</dict>
	<dict>
		<key>First Name</key>
		<string>Athol</string>
		<key>Last Name</key>
		<string>Mass</string>
	</dict>
	<dict>
		<key>First Name</key>
		<string>Sandy</string>
		<key>Last Name</key>
		<string>Anuse</string>
	</dict>
</array>
</plist>
